*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
    margin-top: 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
nav a{
    font-size: 18px;
}
nav{
    display: flex;
    height: 80px;
}
.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px 20px;
    transition-duration: 0.1s;
    border-top: 3px solid transparent;
}
.navLink:hover, .navLink.active {
    color: #0065FC;
    border-color: #0065FC;
}

/* MAIN */

#searchForm{
    display: inline-flex;
    max-width: 100%;
    border-radius: 20px;
    overflow: auto;
}
.searchFormImg{
    border-radius: 15px 0 0 15px;
    padding: 19px;
    background-color: #F2F2F2;
}
.searchFormText{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 24px;
    box-sizing: border-box;
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}
.searchFormButtonSubmit{
    border-radius: 0 15px 15px 0;
    border-style: none;
    background-color: #0065FC;
    color: #FFF;
    font-weight: bold;
    padding: 18px;
    cursor: pointer;
}
#search_button:hover{
    background-color: #0043a8;
    box-shadow: #DEEBFF -2px -2px ;
}
#searchFormButtonSubmitIcon{
    display: none;
}
.searchFormText{
    margin-left: -4px;
    margin-right: -15px;
    border-left:none;
    border-right: none;
    border:#DEEBFF 0.2px solid;
    font-size: 20px;
    padding: 14px;
}

/* FILTRES */

.globalFilter{
    display: flex;
}
#filterTitle{
    margin: 0 20px;
    display: flex;
    align-items: center;
}
#filter{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
}
.filters{
    display:flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    margin-right: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.1s;
}
.filters:last-child{
    margin-right: 0;
}
.filters:hover{
    background-color: #f2f2f2;
    box-shadow: 0 0 10px #0000002e;
    transform: scale(1.015);
    color: #0065FC;
}
.filtersIcon{
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    border-radius: 100%;
}
.filtersIcon i{
    color: #0065FC;
}
.filtersText {
    margin: 0 30px;
    font-size: 20px;
}
#info{
    display: flex;
    align-items: center;
    margin: 15px 0 30px 0;
}
#infoIcon{
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    border: solid 1px #DEEBFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
#infoIcon i{
    color: #0065FC;
}
.infoText{
    margin: 0;
}

/* CONTAINER PRINCIPAL */

#containerPrincipal{
    display: flex;
    gap: 30px;
}
#containerPrincipal section h2{
    margin-left: 20px;
}
#containerPrincipal section .container{
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}
#containerPrincipal .hebergement{
    flex: 3;
}
.hebergement .subtitle{
    font-weight: bold;
    font-size: 120%;
    margin-left: 20px;
}

/* HEBERGEMENT */

.hebergementList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.hebergementList a{
    margin-bottom: 50px;
    color: black;
    text-decoration: none;
}
.cardHebergement{
    background-color: white;
    padding: 6px;
    border-radius: 25px;
    height: 100%;
    box-shadow: 0 0 16px #0000002e;
    transition: 0.1s;
    min-width: 350px;
}
.cardHebergement:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.cardImage{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.cardTitle{
    margin: 4px 12px 0 12px;
}
.cardDescription{
    margin: 4px 12px 4px 12px;
}
.cardStars{
    margin: 0 12px 4px 12px;
}
.cardStars .fa-star.blue{
    color: #0065FC;
}
.cardStars .fa-star.grey{
    color: lightgray;
}
.subtitle:hover{
    color: #0065FC;
}

/* POPULAIRE */

#containerPrincipal .populaire .populaireIcon{
    position: absolute;
    top: 30px;
    right: 30px;
}
#containerPrincipal .populaire{
    flex: 1;
    position: relative;
}
#containerPrincipal .populaire .hebergementList{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#containerPrincipal .populaire .hebergementList a{
    width: 90%;
}
.populaire .container h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardPopulaire{
    display: flex;
    background-color: white;
    padding: 6px;
    margin: -5px;
    border-radius: 25px;
    height: 180px;
    box-shadow: 0 0 16px #0000002e;
    transition: 0.1s;
}
.cardPopulaire:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.cardImagePop{
    border-radius: 25px 0 0 25px;
    width: 100px;
    object-fit: cover;
}
.cardBodyPop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardTitlePop{
    margin: 12px 12px 0 20px;
}
.cardDescriptionPop{
    margin: 06px 12px 4px 20px;
}
.cardStarsPop{
    margin: 0 12px 12px 20px;
}
.cardStarsPop .fa-star.blue{
    color: #0065FC;
}
.cardStarsPop .fa-star.grey{
    color: lightgray;
}

/* ACTIVITES */

#activity{
    display: flex;
    margin-bottom: 50px;
    gap: 30px;
}
.cardActivity{
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 16px #0000002e;
    transition: 0.1s;
}
.cardImageActivity {
    width: 100%;
    height: 85%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.cardImageActivity img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardBodyActivity {
    overflow: hidden;
    padding: 20px;
}
.cardActivity:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.cardActivity2{
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 16px #0000002e;
    transition: 0.1s;
}
.cardActivity2:first-child{
    margin-bottom: 30px
}
.cardImageActivity2{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 25px 25px 0 0;
}
.cardImageActivity2 img {
    width: 150%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardActivity2:hover{
    transform: scale(1.02);
    cursor: pointer;
}

/* FOOTER */

footer{
    background-color: #F2F2F2;
    display: flex;
    margin: 0 -40px -40px;
    padding: 40px;
}
.columnFooter{
    width: 30%;
    line-height: 30px;
}
footer p{
    font-weight: bold;
}
footer ul{
    padding: 0;
    list-style: none;
    font-weight: bold;
    color: black;
}
footer li{
    text-decoration: none;
    font-weight: lighter;
}
footer a:hover{
    text-decoration: underline;
    color: #0065FC;
}

/* MEDIA QUERIES */

@media screen and (max-width:1565px) and (min-width:1242px){
    #containerPrincipal{
        height: 100%;
    }
    .cardBodyPop{
        font-size: small;
        overflow: hidden;
    }
    #containerPrincipal .populaire .hebergementList{
        height: 100%;
    }
}

@media screen and (max-width:1241px) {
    #containerPrincipal{
        display: flex;
        flex-direction: column;
    }
    #containerPrincipal, .containerH{
        flex: 1;
        height: 100%;
    }
    .containerH{
        display: flex;
        flex-wrap: wrap; 
    }
    .cardImagePop{
        flex: 1;
    }
    .cardBodyPop{
        flex: 2;
    }
    #activity{
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
    #activityTitle{
        margin-left: 20px;
    }
    .cardActivity, .cardActivity2{
        width: 100%;
        height: 100%;
    }
    .cardActivityVertical{
        display: flex;
        flex: 1;
        gap: 30px;
    }
    .globalFilter{
        display: block;
    }
}

@media screen and (max-width:1241px) and (min-width:993px){
    #containerPrincipal .populaire .hebergementList{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    #containerPrincipal .populaire .hebergementList a{
        width: 100% ;
    }
}

@media screen and (max-width:992px) {
    #containerPrincipal{
        flex-direction: column-reverse;
        height: 100%;
    }
}

@media screen and (max-width:992px) and (min-width:769px){
    .globalForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}
@media screen and (max-width:992px) and (min-width:601px){
    header{
        margin-bottom: 80px;
    }
    .navLink:hover, .navLink.active {
        color: #0065FC;
        border-bottom: 3px solid;
        
    }
    
}

@media screen and (max-width:768px){
    .formAndFilters{
        margin: 20px;
}
#searchForm{
        flex: 1;
        margin: 30px 10px;
}
.searchFormText{
        overflow: hidden;
        width: auto;
}
.searchFormButtonSubmit{
        border-radius: 20px;
        padding: 20px;
}
.searchFormButtonSubmitText{
        display: none;
}
#searchFormButtonSubmitIcon{
        display: initial;
}
.cardImageActivity, .cardImageActivity2{
    height: 140px;
}
.cardActivityVertical{
    display: block;
}   

    body{
        margin: 0 ;
    }
    header{
        flex-direction: column;
    }
    .logo{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .logo img{
        width: 100px;
    }
    nav{
        display: flex;
    }
    .navLink{
        flex: 1;
    }
    .navLink:hover, .navLink.active {
        color: #0065FC;
        border-bottom: 3px solid;
        border-top: none;
    }
    #filter{
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .filters{
        margin: 5px;
        max-width: max-content;
    }
    .filtersText{
        margin: 10px;
        font-size: 16px;
    }
    .infoText{
        width: 100%;
        font-size:16px;
    }
    #containerPrincipal section .container{
            padding: 0;
    }
    #containerPrincipal .hebergement .container{
            background-color: transparent;
    }
    #containerPrincipal .populaire .container{
            border-radius: 0;
            padding: 10px;
    }
    .hebergementList a{
        margin-bottom: 20px;
        width: 90%;
    }
    .cardBodyActivity{
        padding: 7px;
        font-size: smaller;
    }
    .cardStars, .cardStarsPop{
        font-size: smaller;
    }
    footer{
            display: flex;
            flex-direction: column;
            padding-top: 0;
            margin:0;
        
    }
    .columnFooter{
            width: 100%;
            font-size: larger;
            padding: 30px;
    }
}